.clock-area{
    font-family: Alkatra;
    text-align: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-bottom: 2em;
}

nav a{
    font-size: 1.2vw;
    color: black;
}

.navbar-brand{
    font-size: 1.5vw;
}

.clock-area h1{
    font-size: 6.5vw;
}

#info-field{
    padding-top: 2em;
}

#actions-field{
    margin-top: 12em;
}

btn{
    font-size: 1.5vw;
}